.contact{
    width: 90%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
  
}
.col1{
    flex-basis: 45%;
}
.col1 h2{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.col1 h2 img{
    margin-left: 15px;
}
.contactinfo{
    margin-top: 20px;
}
.contactinfo p{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.col1 img{
    width: 30px;
    margin-right: 10px;
    
}
.col2{
    flex-basis: 50%;
}
.col2 input,textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    padding: 5px 5px;
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.609);
}


form button{
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: #fff;
    cursor: pointer;
}
@media(max-width:850px){
    .contact{
        width: 90%;
        margin: 70px auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      
    }
    .col1{
      margin-bottom: 30px;
    }

}