nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 9px 0px;
    
}
nav ul li{
    display: inline-block;
    margin: 15px;
    color: #fff;
    cursor: pointer;
}
nav ul li:hover{
    color:red;
    transition: .5s;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.btn{
    background-color: #fff;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
}
.dark-nav{
    background-color: blue;
}
.menuicon{
    width: 30px;
    display: none;
}
@media(min-width:721px) and (max-width:860px) {
    nav ul li{
        margin: 6px;
    }
    .logo{
        width: 100px;
    }
    .btn{
        padding: 5px 5px;
        
    }

}

@media(max-width:720px){
    nav ul{
        width: 150px;
        background-color: blue;
        position: fixed;
        top: 0;
        right: 0;
        z-index: -1;
        padding: 30px 0px;
        height: 100vh;
    }
    nav ul li{
        font-size: 13px;
    }
    
    .menuicon{
        display: block;
        cursor: pointer;

    }
    .hide{
        
            width: 150px;
            background-color: blue;
            position: fixed;
            top: 0;
            right: -150px;
            z-index: -1;
            padding: 30px 0px;
        }

    
}